* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border-radius: 10px;
  border: 5px solid black;
}
.grid-item {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #f3e5f5;
  font-family: roboto;
  color: black;
  padding: 25px;
  font-size: 15px;
  text-align: center;
}
