.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.grid-item {
  background-color:#ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 15px;
  text-align: left;
}
